/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  width: 100vw;
}

.App {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}